.one{
  background-color: #e7cdcd;
  font-weight: bold;
  width: 300px;
  padding: 15px;
  position: relative;
  margin-left: 7px;
  counter-increment: count;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;

 
}
.one::before{
    
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color:transparent;
    top: 50%;
    left: -18px;
    margin-bottom: 5px;
    border-style: solid;
    border-color:transparent transparent transparent black;
    border-width: 17px;
  
}
.one::after{
    content: counter(count);
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    right: -10px;
    top: 50%;
  
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.one{
    transition-duration: 2s;
    transition-delay: 5s;


}
.one:hover{
    margin-bottom: 10px;
}

.tow{
    width: 300px;
    height: 50px;
    background-color: deepskyblue;
    color: white;
    font-weight: bold;
    margin-top:20px;
    text-align: center;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 10px 12px 10px 0 darkseagreen;
    transition-duration: .5s;
    transition-delay: 2s;
    transition-property: margin-left;
    transition-timing-function: ease-out;
}
.tow:hover{
    margin-left: 50px;
    width: 500px;
}
